.lpv-a-iconcard {
  display: inline-block;
  letter-spacing: 0.02em;
  padding: 0.7rem 0.77rem;
  border-radius: var(--lpv-border-radius-md);
  border-width: 2px;
  border-bottom-width: 5px;
  border-style: solid;
  &--sm {
    padding: 0.4rem 0.44rem;
    border-bottom-width: 4px;
    border-radius: var(--lpv-border-radius-sm);
  }
  &--lg {
    padding: 1.2rem;
    border-bottom-width: 6px;
    border-radius: var(--lpv-border-radius-lg);
  }
  &--xl {
    padding: 1.4rem 1.6rem;
    border-bottom-width: 7px;
    border-radius: var(--lpv-border-radius-xl);
  }

  @each $color in green, yellow, orange, blue, violet, red, magenta, teal {
    &--#{$color} {
      background-color: var(--lpv-a-tag--#{$color}-bg);
      color: var(--lpv-a-tag--#{$color}-text);
      $clr-border:color-mix(in srgb, var(--lpv-a-tag--#{$color}-text) 7%, var(--lpv-mix-color));
      border-color: $clr-border;
    }
  }
}
