.lpv-a-iconcard {
  display: inline-block;
  letter-spacing: 0.02em;
  padding: 0.77rem;

  &--sm { padding: 0.44rem; }
  &--lg { padding: 1.2rem; }
  &--xl { padding: 1.6rem; }

  &--green { background-color: var(--lpv-a-tag--green-bg); color: var(--lpv-a-tag--green-text); }
  &--yellow { background-color: var(--lpv-a-tag--yellow-bg); color: var(--lpv-a-tag--yellow-text); }
  &--orange { background-color: var(--lpv-a-tag--orange-bg); color: var(--lpv-a-tag--orange-text); }
  &--red { background-color: var(--lpv-a-tag--red-bg); color: var(--lpv-a-tag--red-text); }
  &--blue { background-color: var(--lpv-a-tag--blue-bg); color: var(--lpv-a-tag--blue-text); }
  &--violet { background-color: var(--lpv-a-tag--violet-bg); color: var(--lpv-a-tag--violet-text); }
  &--magenta { background-color: var(--lpv-a-tag--magenta-bg); color: var(--lpv-a-tag--magenta-text); }
  &--teal { background-color: var(--lpv-a-tag--teal-bg); color: var(--lpv-a-tag--teal-text); }
}
